@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'Inter', sans-serif;
  font-weight: 650;
  color: #4D4D4D;
}

h1 {
  font-size: 3.7vw;
}

h2 {
  font-size: 3.3vw;
}

h3 {
  font-size: 2vw;
}

h5 {
  font-size: 1.5vw;
}

li {
  padding-inline: 0.5vw;
}

h6, a {
  font-size: 1.4vw;
  color: #89939E;
}

.celeste {
  color: #24AACF;
}

.grey{
  color:#89939E;
}

.bg-silver {
  background-color: #F5F7FA;
}

section:nth-child(2) {
  margin-top: 60px;
  padding-inline: 0px;
  padding-top: 144px;
  padding-bottom: 144px;
}

section {
  padding-inline: 100px;
  padding-top: 7%;
  padding-bottom: 7%;
}

@media (max-width: 1024px) {
  section {
    padding-inline: 50px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  section:nth-child(2) {
    padding-inline: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.quotation {
  height: 100px;
  width: auto;
  border-width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.quotation:nth-child(2) {
  margin-bottom: 50px;
}

.text-porcent {
  padding-inline: 10%;
}

.text-porcent>* {
  font-size: 3vw;
}

@media (max-width: 768px) {
  #text-quote>* {
    font-size: 6.5vw;
  }

  .quotation {
    height: 60px;
    width: auto;
    border-width: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h1 {
    margin-bottom: 0px;
  }

}

#divquotation2 {
  padding-right: 20%;
}

section:nth-child(5) {
  padding-inline: 5vw;
}

.icon {
  width: 100%;
  height: auto;

}


