/* Estilos para la galeria */
.gallery {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery>* {
    margin: 0.2%;
  }
  
  .col {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  
  .imgGallery {
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 8px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  .imgGallery:hover {
    transform: scale(1.05);
  }
  
  /*columnas*/
  .column {
    max-width: 45%;
  }
  
  /*mitad izquierda*/
  .gallery>:nth-child(1)> :nth-child(1)> :nth-child(1)> :nth-child(1) {
    /*foto1*/
    margin-top: 49%;
    float: right;
    max-width: 80%;
    aspect-ratio: 1/1;
  }
  
  .gallery>:nth-child(1)> :nth-child(1)> :nth-child(1)> :nth-child(2) {
    /*foto2*/
    float: right;
    aspect-ratio: 1.41/1;
  }
  
  .gallery>:nth-child(1)> :nth-child(1)> :nth-child(2) {
    /*columna interna2*/
    max-width: 40%;
  }
  
  .gallery>:nth-child(1)> :nth-child(1)> :nth-child(2)>* {
    /*foto3*/
    aspect-ratio: 1/1.6;
  }
  
  .gallery>:nth-child(1)> :nth-child(2)>*>* {
    /*foto4*/
    float: right;
    max-width: 70%;
    aspect-ratio: 1.6/1;
  }
  
  /*mitad derecha*/
  .gallery>:nth-child(2)> :nth-child(1)>*>* {
    /*foto1*/
    margin-top: 19.5%;
    float: left;
    max-width: 70%;
    aspect-ratio: 1.6/1;
  }
  
  .gallery>:nth-child(2)> :nth-child(2)> :nth-child(1) {
    /*columna interna3*/
    max-width: 40%;
  }
  
  .gallery>:nth-child(2)> :nth-child(2)> :nth-child(1)>* {
    /*foto2*/
    margin-top: 161%;
    aspect-ratio: 1/1.6;
  }
  
  .gallery>:nth-child(2)> :nth-child(2)> :nth-child(2)> :nth-child(1) {
    /*foto3*/
    float: right;
    aspect-ratio: 1.41/1;
  }
  
  .gallery>:nth-child(2)> :nth-child(2)> :nth-child(2)> :nth-child(2) {
    /*foto4*/
    float: left;
    max-width: 80%;
    aspect-ratio: 1/1;
  }
  
  .gallery>:nth-child(3) {
    /*fotoCentral*/
    position: absolute;
    margin-top: 300px;
    max-width: 350px;
    aspect-ratio: 1.41/1;
  }
  
  @media (max-width: 768px) {
    .gallery {
      max-width: 100%;
    }
  
    .imgGallery{
      border-width: 5px;
    }
  }
  
  @media (max-width: 1024px) {
    .gallery>:nth-child(3) {
      /*fotoCentral*/
      margin-top: 29.3%;
      max-width: 34%;
    }
  }
  
  .modal-dialog-centered {
    justify-self: center;
    justify-content: center;
    margin-inline: 50%;
  }
  
  .modal-content {
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
  }
  
  .modal-content>row {
    vertical-align: bottom;
  }