section {
    margin-top: 60px;
}

.gallery1>* {
    margin: 0.2%;
}

video {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    /**/
    overflow: hidden;
    aspect-ratio: 4 / 3;
    /**/
}

.foto1:hover {
    transform: scale(1.05);
}

/*columnas*/
.column:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    max-width: 38%;
}

.gallery1>:nth-child(1)>:nth-child(1) {
    max-width: 34.2%;
}

.gallery1>:nth-child(1)>:nth-child(2) {
    max-width: 65.8%;
}

.column:nth-child(2) {
    max-width: 35.5%;
}

.gallery1>:nth-child(2)>*> :nth-child(1) {
    max-width: 45%;
    justify-content: center;
}

.gallery1>:nth-child(2)>*> :nth-child(2) {
    max-width: 55%;
}

.gallery1>:nth-child(1)>:nth-child(1)>.foto1 {
    margin-top: 70%;
    width: auto;
}

/*marcos de foto1s*/
.gallery1>:nth-child(1)>:nth-child(2)>.foto1:nth-child(1) {
    margin-top: 10%;
    width: 60%;
}

.gallery1>:nth-child(1)>:nth-child(2)>.foto1:nth-child(2) {
    margin-top: 10%;
    width: 51%;
}

.gallery1>:nth-child(2)>:nth-child(1)>:nth-child(1)>.foto1 {
    margin-top: 55%;
    width: 95%;
    margin-bottom: 5%;
}

.gallery1>:nth-child(2)>:nth-child(1)>:nth-child(2)>.foto1 {
    margin-top: 5%;
    width: 88%;
}

.gallery1>:nth-child(2)>:nth-child(2)>.foto1 {
    margin-left: 25%;
    margin-top: 5%;
    width: 40%;
    margin-bottom: 5%;
}

@media (max-width: 1024px) {
    .column:nth-child(1) {
        max-width: 50%;
    }

    .gallery1>:nth-child(1)>:nth-child(1) {
        max-width: 34.6%;
        padding: 1%;
    }

    .gallery1>:nth-child(1)>:nth-child(2) {
        max-width: 65.4%;
        padding: 1%;
    }

    .column:nth-child(2) {
        max-width: 48%;
    }

}

@media (max-width: 538px) {
    .gallery1 {
        display: grid;
    }

    .column:nth-child(1) {
        max-width: 100%;
    }

    .gallery1>:nth-child(1)>:nth-child(1) {
        max-width: 32%;
        padding: 1%;
    }

    .gallery1>:nth-child(1)>:nth-child(2) {
        max-width: 68%;
        padding: 1%;
    }

    .column:nth-child(2) {
        max-width: 100%;
    }

    video {
        border-radius: 15px;
    }

    img {
        border-radius: 15px;
    }

    .gallery1>:nth-child(1)>:nth-child(1)>.foto1 {
        margin-top: 87%;
    }

    .gallery1>:nth-child(1)>:nth-child(2)>.foto1:nth-child(1) {
        margin-left: 7%;
        width: 65%;
    }

    .gallery1>:nth-child(1)>:nth-child(2)>.foto1:nth-child(2) {
        margin-top: 10%;
    }

    .gallery1>:nth-child(2)>:nth-child(1)>:nth-child(1)>.foto1 {
        margin-top: 80%;
    }

    .gallery1>:nth-child(2)>:nth-child(1)>:nth-child(2)>.foto1 {
        margin-top: 10%;
    }
}

.modal-dialog-centered {
    justify-self: center;
    justify-content: center;
    max-width: 30%;
}

.modal-content {
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
}

.modal-content>row {
    vertical-align: bottom;
}


.mycol {
    padding-inline: 15px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-video-content {
    position: relative;
    background: #000;
    padding: 1rem;
    border-radius: 30px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerrar {
    position: absolute;
    top: -10px;
    right: -10px;
    
    background: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
}

.cerrar > * {
    position: absolute;
    top: -3px;
    font-size: 1.5rem;
    cursor: pointer;
}