#slide1-1 {
  position: relative;
  left: 0px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  width: 23vw;
  height: 42.7vw;
  overflow: hidden;
  object-fit: cover;
}

#slide1-2 {
  position: relative;
  top: -5.20vw;
  left: -10.41vw;
  clip-path: polygon(50% 0%, 0 90%, 100% 100%);
  width: 25vw;
  aspect-ratio: 25.67/26.04;
  overflow: hidden;
  object-fit: cover;
}

#slide1-3 {
  position: relative;
  top: 14.15vw;
  left: -44.5vw;
  clip-path: polygon(20% 0, 85% 18%, 100% 100%, 0% 100%);
  width: 41vw;
  aspect-ratio: 44.53/15.625;
  overflow: hidden;
  object-fit: cover;
}

#slideText1 {
  top: 25%;
  left: -40vw;
  width: 35vw;
}

#carrousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

#hijo{
  position: absolute;
  top: 17vw;
  left: 50vw;
}