#nuestrasMetas2> :nth-child(3),
#nuestrasMetas2> :nth-child(4) {
  margin-top: 5%;
}

#nuestrasMetas {
    width: 37%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    margin-right: 5%;
  }
  
  #nuestrasMetas2 {
    width: 58%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .meta {
    padding-left: 15%;
    width: auto;
    display: flex;
    height: auto;
    align-items: center;
  }
  
  .meta> :nth-child(1) {
    align-items: end;
    width: 30%;
  }
  
  .meta> :nth-child(2) {
    margin-left: 5%;
    width: 60%;
  }